@import url("../Styles/Fonts/font.css");
* {
box-sizing: border-box;
}
.body-wrapper {
    max-width: 1960px;
    width: 100%;
    overflow: hidden;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 51px;
    border-bottom: 1px solid #CCCCCC;
}
.header-left-box {
    display: flex;
    gap: 51px;
    align-items: center;
}
.header-navigation {
    display: flex;
    gap: 50px;
    align-items: center;
    }
.header-navigation li a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}
.header-right-box {
    display: flex;
    gap: 10px;
    align-items: center;
    }
.header-right-box a {
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000000;
    text-decoration: none;
}
.header-right-box a.header-try-free {
    background: #FF6336;
    border: none;
    color: #FFFFFF;
}

/* MAIN CONTENT_1 */
.main-wrapper {
    padding: 0 75px;
}
.main-section {
    padding-top: 130px;
    padding-bottom: 172px;
}
.main-content-container {
    max-width: 600px;
}
.main-content-container h2 {
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 51px;
    max-width: 600px;
}
.main-content-container .discription {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 51px;
    max-width: 500px;
}
.main-links-box {
   display: flex; 
   gap: 10px;
   margin-bottom: 25px;
}
.main-links-box a {
    width: 160px;
    height: 60px;
    left: 0%;
    right: 0%;
    top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    text-decoration: none;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #000000;
}
.main-links-box a:first-child {
    background: #FF6336;
    border: none;
    color: #FFFFFF;
}
.main-content-container .sub-discription {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
.main-img-conteiner {
    width: 759px;
    height: 529px;
}
.main-content {
    display: flex;
    justify-content: space-between;
}

/* BANNER */
.main-banner {
    max-width: 1960px;
    width: 100%;
    height: 455px;
    background-color: #FF9C7D;
}
.content-banner {
    display: flex;
    width: 700px;
    height: 120px;
    padding-top: 108px;
    margin: auto;
    justify-content: center;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px; 
    text-align: center;
    color: #000000;
}
    

/* }
.img-banner {
   padding-bottom: 80px;
} */

/* MAIN CONTENT_2 */

