@import url("../Styles/Fonts/font.css");
* {
box-sizing: border-box;
}
.body-wrapper {
    max-width: 1960px;
    width: 100%;
    overflow: hidden;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 51px;
    border-bottom: 1px solid #CCCCCC;
}
.header-left-box {
    display: flex;
    gap: 51px;
    align-items: center;
}
.header-navigation {
    display: flex;
    gap: 50px;
    align-items: center;
    }
.header-navigation li a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}
.header-right-box {
    display: flex;
    gap: 10px;
    align-items: center;
    }
.header-right-box a {
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000000;
    text-decoration: none;
}
.header-right-box a.header-try-free {
    background: #FF6336;
    border: none;
    color: #FFFFFF;
}

                                            /* MAIN CONTENT_1 */
.main-wrapper {
    padding: 0 95px;
}
.main-section {
    padding-top: 130px;
    padding-bottom: 172px;
}
.main-content-container {
    max-width: 600px;
}
.main-content-container h2 {
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 51px;
    max-width: 600px;
}
.main-content-container .discription {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 51px;
    max-width: 500px;
}
.main-links-box {
   display: flex; 
   gap: 10px;
   margin-bottom: 25px;
}
.main-links-box a {
    width: 160px;
    height: 60px;
    left: 0%;
    right: 0%;
    top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    text-decoration: none;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #000000;
}
.main-links-box a:first-child {
    background: #FF6336;
    border: none;
    color: #FFFFFF;
}
.main-content-container .sub-discription {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
.main-img-conteiner {
    width: 759px;
    height: 529px;
}
.main-content {
    display: flex;
    justify-content: space-between;
}

                                                /* BANNER */
.main-banner {
    max-width: 1960px;
    width: 100%;
    height: 455px;
    background-color: #FF9C7D;
}
.content-banner {
    width: 700px;
    height: 120px;
    padding-top: 108px;
    margin: auto;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px; 
    text-align: center;
    color: #000000;
}
.img-banner {
    width: 1290px;
    height: 53px;
    padding-top: 180px;
    margin: auto;
}

                                            /* MAIN CONTENT_2 */
.main-bloks {
    margin-top: 90px;
    margin-bottom: 250px;
    display: flex;
    justify-content: space-between;
}
.blok_conteiner {
    display: flex;
    align-items: center;
}
.main-content-blok h3 {
    width: 493px;
    height: 120px;
    margin-bottom: 30px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}
.main-content-blok .discription-blok {
    width: 490px;
    height: 120px;
    margin-bottom: 30px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
span {
    text-decoration: underline;
}
.main-content-blok .discription-blok_sub {
    width: 96px;
    height: 30px;
    margin-top: 30px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-bloks_opposit {
    margin-bottom: 250px;
    display: flex; 
}
.blok_1_conteiner {
    margin-left: 140px;
    margin-top: 151px;
}
.main-content-blok_1 {
    width: 350px;
    height: 120px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}
.main-content-blok_1 .discription-blok_1 {
    width: 450px;
    height: 150px;
    margin-top: 30px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-content-blok_1 .discription-blok_1_sub {
    width: 96px;
    height: 30px;
    margin-top: 30px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-content-blok_3 {
    width: 397px;
    height: 60px;
    margin-top: 161px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}
.main-content-blok_3 .discription-blok_3 {
    width: 520px;
    height: 150px;
    margin-top: 30px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-content-blok_3 .discription-blok_3_sub {
    width: 96px;
    height: 30px;
    margin-top: 30px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.blok_4_conteiner {
    margin-left: 140px;
    margin-top: 123px;
}
.discription-blok_4 {
    width: 520px;
    height: 120px;
    margin-top: 30px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}