@import url("../Styles/Fonts/font.css");
* {
box-sizing: border-box;
}
.body-wrapper {
    max-width: 1960px;
    width: 100%;
    overflow: hidden;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 51px;
    border-bottom: 1px solid #CCCCCC;
}
.header-left-box {
    display: flex;
    gap: 51px;
    align-items: center;
}
.header-navigation {
    display: flex;
    gap: 50px;
    align-items: center;
    }
.header-navigation li a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}
.header-right-box {
    display: flex;
    gap: 10px;
    align-items: center;
    }
.header-right-box a {
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000000;
    text-decoration: none;
}
.header-right-box a.header-try-free {
    background: #FF6336;
    border: none;
    color: #FFFFFF;
}

                                            /* MAIN SECTION_1 */
.main-wrapper {
    padding: 0 95px;
}
.main-section {
    padding-top: 130px;
    padding-bottom: 172px;
}
.main-content-container {
    max-width: 600px;
}
.main-content-container h2 {
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 51px;
    max-width: 600px;
}
.main-content-container .discription {
    width: 471px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 51px;
    max-width: 500px;
}
.main-links-box {
   display: flex; 
   gap: 10px;
   margin-bottom: 25px;
}
.main-links-box a {
    width: 160px;
    height: 60px;
    left: 0%;
    right: 0%;
    top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    text-decoration: none;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #000000;
}
.main-links-box a:first-child {
    background: #FF6336;
    border: none;
    color: #FFFFFF;
}
.main-content-container .sub-discription {
    width: 369px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
.main-img-conteiner {
    width: 759px;
    height: 529px;
}
.main-content {
    display: flex;
    justify-content: space-between;
}

                                                /* BANNER_1 */
.main-banner {
    max-width: 1960px;
    width: 100%;
    height: 455px;
    background-color: #FF9C7D;
}
.content-banner {
    width: 700px;
    height: 120px;
    padding-top: 108px;
    margin: auto;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px; 
    text-align: center;
    color: #000000;
}
.img-banner {
    width: 1290px;
    height: 53px;
    padding-top: 180px;
    margin: auto;
}

                                            /* MAIN SECTION_2 */
.main-bloks {
    margin-top: 90px;
    margin-bottom: 250px;
    display: flex;
    justify-content: space-between;
}
.blok_conteiner {
    max-width: 658px;
    width: 100%;
    display: flex;
    align-items: center;
}
.main-content-blok h3 {
    max-width: 493px;
    width: 100%;
    margin-bottom: 30px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    text-align: left;
}
.main-content-blok .discription-blok {
    max-width: 490px;
    width: 100%;
    margin-bottom: 30px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
span {
    text-decoration: underline;
}
.main-content-blok .discription-blok_sub {
    max-width: 96px;
    width: 100%;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-bloks img {
    max-width: 632px;
    width: 100%;
}
.main-bloks_opposit {
    display: flex;
    justify-content: space-between;
}
.blok_1_conteiner {
    max-width: 658px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content-blok_1 h3 {
    max-width: 379px;
    width: 100%;
    margin-bottom: 30px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    text-align: left;
}
.main-content-blok_1 .discription-blok_1 {
    max-width: 450px;
    width: 100%;
    margin-bottom: 36px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-content-blok_1 .discription-blok_1_sub {
    max-width: 96px;
    width: 100%;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.blok_conteiner_3 {
    max-width: 658px;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-content-blok_3 h3 {
    max-width: 493px;
    width: 100%;
    margin-bottom: 30px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    text-align: left;
}
.main-content-blok_3 .discription-blok_3 {
    max-width: 520px;
    width: 100%;
    margin-bottom: 35px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-content-blok_3 .discription-blok_3_sub {
    max-width: 96px;
    width: 100%;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-bloks_opposit_2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.blok_4_conteiner {
    max-width: 658px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content-blok_4 h3 {
    max-width: 348px;
    width: 100%;
    margin-bottom: 33px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    text-align: left;
}
.main-content-blok_4 .discription-blok_4 {
    max-width: 520px;
    width: 100%;
    margin-bottom: 27px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.main-content-blok_4 .discription-blok_4_sub {
    max-width: 96px;
    width: 100%;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
                                            /* MAIN SECTION_3 */
.section_3_wrapper {
    max-width: 1960px;
    width: 100%;
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 93px;
}
h3 {
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-bottom: 58px;
}
.section_3_container {
    max-width: 1290px;
    width: 100%;
    display: flex;
   margin: 58px auto;
    flex-wrap: wrap;
    gap: 80px;
}
.card {
    width: 330px;
}
.card-img {
    text-align: center;
    margin-top: 21px; 
   }
.card-title {
    text-align: center;
    margin-top: 26px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}
.card-discription {
    text-align: center;
    margin-top: 20px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
                                            /* MAIN SECTION_4 */
.section_4_title {
    max-width: 1287px;
    width: 100%;
    margin: 154px auto 25px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    color: #000000;
}
.section_4_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 31px;
    padding-bottom: 185px;
}
.section_4_card {
    width: 407px;
}
.section_4_card .card-img-1 {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 49px; 
}
.section_4_card .card-img-2 {
    text-align: left;
    margin-top: 67px;
    margin-bottom: 67px; 
}
.section_4_card .card-img-3 {
    text-align: left;
    margin-top: 59px;
    margin-bottom: 58px;
}
.section_4_card .card-title {
    text-align: left;
    margin-top: 49px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}
.section_4_card .card-discription {
    text-align: left;
    margin-top: 34px;
    margin-bottom: 25px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.section_4_link {
    text-align: left;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}
                                                /* BANNER_2 */
.main-banner_2 {
    display: flex;
    justify-content: space-between;
    background-color: #C9E8F2;
    padding: 0 95px;
}
.main_content_banner_2 {
    width: 895px;
    margin-top: 63px;
}
.banner_2_discription {
    text-align: left;
    width: 921px;
    margin-bottom: 23px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}
.sub-discription_banner_2 {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
.main-banner_2_img {
    margin-top: 53px;
    margin-bottom: 105px;
    margin-left: 95px;
}
                                                /* BANNER_3 */
.main-banner_3 {
    display: flex;
    justify-content: space-between;
    background-color: #DABC98;
}
.main_content_banner_3 {
    width: 809px;
    display: flex;
}
.main_content_banner_3 img {
    margin: 90px 74px 88px 76px;
}
.discription_banner_3 {
    width: 461px;
    margin-top: 117px;
    margin-bottom: 115px;
    text-align: left;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
}
.content_banner_3 {
    width: 481px;
    height: 168px;
    display: flex;
    gap: 71px;
    padding-left: 71px;
    margin-top: 80px;
    margin-bottom: 84px;
    margin-right: 138px;
    border-left: 1px solid #000000;
}
.banner_3_icons {
    margin-top: 30px;
    margin-bottom: 20px;
}
.banner_3_card-discription {
    margin-top: 15px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    color: #000000;
}
                                            /* MAIN SECTION_5 */
.section_5_title {
    max-width: 791px;
    width: 100%;
    margin: 165px auto 0px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    }
.section_5_discription {
    max-width: 539px;
    width: 100%;
    margin: 0px auto 25px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.section_5_img {
    max-width: 1023px;
    width: 100%;
    margin: 0px auto 32px;
}
.section_5_btn a {
    max-width: 193px;
    width: 100%;
    margin: 0px auto 162px;
    left: 0%;
    right: 0%;
    top: 0px;
    border-radius: 0px;
    text-decoration: none;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF; 
    background: #FF6336;
}
                                                /* BANNER_4 */
.main-banner_4 {
    background-color: #FF9C7D;
    padding-top: 119px;
    padding-bottom: 161px;
}
.main-banner_4_title {
    max-width: 784px;
    width: 100%;
    margin: 0px auto 29px;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}
.main-banner_4_discription {
    max-width: 439px;
    width: 100%;
    margin: 0px auto 54px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.main-banner_4_btn a {
    max-width: 160px;
    width: 100%;
    margin: 0px auto;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #000000;
}
                                                /* FOOTER */
.top_footer_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 95px;
}
.left_box {
    padding-top: 92px;
    padding-left: 95px;
}
.left_box h3 {
    width: 257px;
    height: 50px;
    margin-bottom: 28px;
    display: flex;
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}
.footer_left_img {
    margin-bottom: 31px;
}
.footer_left_text {
    width: 290px;
    margin-top: 11px;
    margin-bottom: 15px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.left_link a {
    margin-bottom: 95px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}
.right_box {
    display: flex;
    gap: 90px;
}
.footer_links_box h4 {
    font-family: 'Graphik LC TT bold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 21px;
    margin-top: 97px;
}
.footer_links_box ul li a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: #000000;
}
.footer_links_box ul li {
    margin-bottom: 15px;
}
.word_break {
    width: 138px;
}
.divider {
    max-width: 1340px;
    height: 1px;
    background-color: #000000;
    margin-top: 95px;
    margin-left: 95px;
    margin-right: 95px;
}
.bottom_footer_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 95px;
    padding-right: 95px;
    margin-right: 95px;
}
.bottom_footer_left_box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 43px;
}
.bottom_footer_left_logo {
    margin-top: 52px;
}

.bottom_footer_left_disc p {
    max-width: 301px;
    margin: 52px 14px 0;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.bottom_footer_right_box p {
    margin-top: 52px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.bottom_footer_right_box .data {
    margin-bottom: 0px;
}
.bottom_footer_right_box .rights {
    margin-top: 0px;
}

   